/* Explore Page */
.explore-page {
    padding: 20px;
    text-align: center;
  }
  
  .categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .category-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .category-card:hover {
    transform: scale(1.05);
  }
  
  .category-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .category-card h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #008080;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .categories-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }